.nav-item{
   
    font-size: 17px;
}

.icon3{
    color: #609af8;
    font-size: 15px;
   margin-top: 4px;
}

.ache5{
    color: #609af8;
}


.ache5:hover{
    transition: 0.5s;
    color: #2D6BD0;
}

